extends layout

block content
  form(action="/results" method="GET")
    label(for="job") Job Title
    input(type="text" id="job" name="jobTitle" required)
    label(for="location") Location
    input(type="text" id="location" name="location" required)
    button(type="submit") Submit