extends layout.pug

include mixins/_indeedCard.pug

include mixins/_stackCard.pug

block content
  a(href="/") Index
  if stackoverflowResult.length !== 0
    div(class="stackoverflow")
      each stackInfo in stackoverflowResult
        +stackCard(stackInfo)
  if indeedResult.length !== 0
    div(class="indeed")
      h4= indeedPageUrl
      each indeedInfo in indeedResult
        +indeedCard(indeedInfo)

  
