extends layout.pug

include mixins/_indeedCard.pug

include mixins/_stackCard.pug

block content
  a(href="/") Index
  div(class="columns")
    div(class="column")
      if stackoverflowResult.length !== 0
        each stackInfo in stackoverflowResult
          +stackCard(stackInfo)
    div(class="column")
      if indeedResult.length !== 0
        each indeedInfo in indeedResult
          +indeedCard(indeedInfo)

  
